body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 600px;
}*/

textarea {
    resize: vertical;
}

.ItemImageCaptionTextArea {
    width: 100%;
    height: 100%;
}

/* Override display on bootstrap label elements to give some spacing */
.label {
    display: inline-block;
}

/* Helper classes */
.hover-pointer:hover {
    cursor: pointer;
}
.pseudolink {
    color: #428bca;
    cursor: pointer;
    text-decoration: none;
}
.pseudolink:hover {
    color: #2a6496;
    text-decoration: underline;
}
.pseudolink:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.collapsable .panel-heading h3:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}

.collapsable .panel-heading.collapsed h3:after {
  content: "\e080";
}

#leafletmap {
    height: 300px;
}

#newArtistId {
    max-width: 140px;
}

.categorytag {
    font-size: 1.1em;
    font-weight: normal;
    margin: 4px;
}

    .categorytag > span {
        opacity: 0.5;
        padding: 0;
        cursor: pointer;
        font-size: 1.1em;
        color: inherit;
    }

    .categorytag > span:hover {
        opacity: 0.9;
        text-decoration: inherit;
    }

@media (min-width: 768px) and (max-width: 991px) {
    .artist-row>.clear:nth-child(4n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .artist-row>.clear:nth-child(6n)::before {
      content: '';
      display: table;
      clear: both;
    }
}
@media (min-width: 1200px) {
    .artist-row>.clear:nth-child(8n)::before {  
      content: '';
      display: table;
      clear: both;
    }
}
.artist-panel .glyphicon {
    color: grey;
}
.artist-panel .glyphicon:hover {
    color: black;
}
.artist-panel .panel-heading {
    background: linear-gradient(to top, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
}
.artist-panel .panel-body {
    background: linear-gradient(to bottom, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
}

.artistAnchor:target {
    padding-top: 70px;
    margin-top: -70px;
}
.artistAnchor:target .artist-panel .panel-heading {
    background: linear-gradient(to top, rgba(186, 232, 186, 0) 0%,rgba(186, 232, 186, 1) 100%);
}
.artistAnchor:target .artist-panel .panel-body {
    background: linear-gradient(to bottom, rgba(186, 232, 186, 0) 0%,rgba(186, 232, 186, 1) 100%);
}