<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <connectionStrings>
        <add name="PublicArtEntities"
             connectionString="metadata=res://*/PublicArtModel.csdl|res://*/PublicArtModel.ssdl|res://*/PublicArtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vm-ms-sql-1a;initial catalog=PublicArt;Integrated Security=False;User Id=PublicArt;Password=********;MultipleActiveResultSets=True;App=EntityFramework&quot;"
             providerName="System.Data.EntityClient"
             xdt:Transform="SetAttributes"
             xdt:Locator="Match(name)" />
    </connectionStrings>
</configuration>