@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Public Art Catalogue Admin</h1>
    <p class="lead">Manage the collection of public art items and their artists.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Items (@ViewBag.ItemCount)</h2>
        <p>
            <a class="btn btn-success" href="@Url.Action("Index", "Items")">Manage &raquo;</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Artists  (@ViewBag.ArtistCount)</h2>
        <p>
            <a class="btn btn-success" href="@Url.Action("Index", "Artists")">Manage &raquo;</a>
        </p>
    </div>
</div>